body {
    background: radial-gradient(rgb(46, 170, 170), white);
}

#statusAnp, #statusPlus {
    /*color: #7A9EAE;*/
    color: black;
} 
.stopwatch, #stopwatchPlus {
    color: black;
}

#result {
    display: block;
    width: 90%;    
    /*height: 40%; */
    overflow: auto; 
    margin-left: 5%;
    margin-top:  1.5%;
}
.halfsize {
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    /*border:1px solid red;*/
}

  
/*.tableFixHead          { overflow: auto; height: 30vh; }*/
.tableFixHead          {  height: 35vh; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

table  { border-collapse: collapse; width: 100%; }
/*th, td { padding: 8px 16px; }*/
th, td { padding: 1px 1px; }
th     { background:#eee; }